.borderpane {
	-fx-background-image: url(../images/cshs.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
}

.schoolname {
	-fx-font: 24px Verdana;
	-fx-text-fill: #fff;
}

.schoollogo {
	-fx-image: url(../images/cshs_logo.png);
}

.proceedbtn {
	-fx-background-color: #fff;
}

.proceedbtn:hover {
	-fx-background-color: yellow;
	-fx-cursor: hand;
}

.label1 {
	-fx-font: 24px Verdana;
	-fx-text-fill: #fff;
	-fx-background-color: rgba(108, 70, 70, 1);
	-fx-background-radius: 5px;
	-fx-padding: 0.2em;
}

.label2 {
	-fx-font: 14px Verdana;
	-fx-text-fill: #fff;
	-fx-background-color: rgba(120, 34, 34, 1);
	-fx-background-radius: 5px;
	-fx-padding: 0.2em;
}

.rightpane {
	-fx-background-color: rgba(15, 7, 88, 1); 
}

.btncontainer1 {
	-fx-background-color: rgba(27, 17, 84, 1); 
}

.btn1 {
	-fx-background-color: rgba(23, 0, 226, 1);
	-fx-background-radius: 8px; 
	-fx-text-fill: #fff;
	-fx-border-radius: 8px;
	-fx-border-style: solid;
}

.btn1:hover {
	-fx-cursor: hand;
}